argcomplete
boto3
botocore
certifi
cfn-flip
charset-normalizer
click
durationpy
hjson
idna
jmespath
kappa
MarkupSafe
placebo
python-dateutil
python-slugify
PyYAM
requests
s3transfer
six
text-unidecode
toml
tqdm
troposphere
urllib3
Werkzeug
zappa
